[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "extern/vulkan"]
	path = extern/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
